@import "tailwindcss";
@import "./hyperlink.css";

@theme inline {
  --color-primary: #fefefe;
  --color-secondary: #eeeeee;
  --color-tprimary: #080808;
  --color-tsecondary: #282828;
  --color-accent: #eb7a34;
}

* {
  box-sizing: border-box;
}

body {
  @apply bg-primary text-tprimary;
}